@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed|Tulpen+One');


/* -------------------------END OF CSS RESET ------------*/



/* ---------MY STYLES ---------*/

/*-------------------------------------BASE HTML */
* {
  box-sizing: border-box;
}


body
{
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    line-height: 1.5;
    background-color:  #F8F9FA !important;
    font-family: 'Cabin Condensed', sans-serif;
    
}


.card_body,
section.recipe_content_wrapper ,
.btn-group,
.btn-view{
    background-color:  white !important;
}


div.nav-wrapper,
.nav-tabs-wrapper{
     background-color: #F8F9FA !important ;
}

h3 {
    padding-top: 25px;
    padding-right: 20px;
}

p {
    background-color: white !important;
    padding: 5px;
    font-size: 1.2em;
    line-height: normal;
}


div.container-fluid{
    margin: 0;
    padding: 0;
}


.nav-tabs-wrapper{
    width: 100vw;
   
}

div.nav-wrapper {
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 100px;
    
    
}

.nav-tabs {
    margin-left: 125px;
    height: 60px;
    font-size: 1.4rem;
    line-height: 1.5;
}

.nav-link {
    font-size: 1.4rem;
    line-height: 1.5;
    text-decoration: none;
    color: #5A6466;
    margin-top: 60px;
    border: 1px solid #5A6466;
}



.p_user{
    color: #5A6466;
    text-shadow: 1px 1px 1px solid black;
    margin-top: 61px;
    margin-left: 320px;
    padding-top: 10px;
    display: block;
}



.brand-logo {
    border: 1px solid grey;
    margin-top: 40px;
    margin-left: 25px;
    padding: 0;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.brand-logo > img {
    border-radius: 50%;
    text-decoration: none;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.brand-logo:hover {
    color:  white;
    text-decoration: none;
}

.content {
    height: 410px;
}

footer {
    margin-top: 40px;
    padding: 0;
    height: 80px;
    border-top: 1px solid grey;
}

footer > h5 {
    text-align: center;
    padding: 15px;
}


/*-------------------------------------LOGIN PAGE */


div.introduction_message{
    margin-top: 20px;
    height: 250px;
    line-height: 1.5rem;
    padding: 2rem;
    color: black;
    text-shadow: 2px 2px 2px white;
}

div.introduction_message_header{
    margin-top: 2rem;
    color: black;
    font-weight: 120;
    text-shadow: 2px 2px 2px white;
    text-align: center;
}

div.log_in_box{
    width: 250px;
    margin: 0 auto;
    background-color: white;
    height: 340px;
    box-shadow: 1px 1px 1px black;
    color: black;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.log_in_box > form {
    padding: 1rem;
}

.log_in_box > form > label {
    padding: 1rem;
    line-height: 1.375em;
    font-size: 1em;
}

.log_in_box > h2 {
    color: #5a6466;
    text-shadow:  1px 1px 1px black;
    font-size: 2.25em;
    line-height: 1.375em;
    text-align: center;
    padding: 10px;
    margin-top: 2.5rem;
}

.log_in_button{
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    color:  #DCE2EA;
    text-shadow: 1px 1px 1px solid white;
    background-color:  green;
    text-align: center;
}



.log_in_box > form > input{
    font-size: 18px;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    
}



/*-------------------------------------MAIN PAGE */

a.button-collapse{
    font-size: 24px;
    color: black;
}
.header_main_page{
    font-family: 'Cabin Condensed', sans-serif;
    word-wrap: break-word;
    min-height: 75px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-top: 110px;
}



/*-------------------------------------RECIPES */

.recipes{
    background-color: #F8F9FA;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-bottom: 50px;
    
}

.card-wrapper{
    padding-top: 25px;
}


img{
    color: white;
    
}


.card-img-top {
    background-color: rgba(0,0,0,0.2);
    margin: 0;
    height: 250px;
    width: 100%;
    display: block;
}

.recipe_view_img{
    margin-top: 120px;
    margin-bottom: 100px;
    height: 450px;
    width: 100%;
}

.card-text {
    background-color:  white;
    word-wrap: break-word;
    margin-bottom: 1rem;
    height: 110px;
    padding:  2rem;
    text-shadow: 1px 1px solid white;
}

.card_header{
    background-color:  white;
    font-family: 'Cabin Condensed', sans-serif;
    word-wrap: break-word;
    margin-bottom: 1rem;
    font-size: 1.375em;
    height: 40px;
    padding: 1rem;
    margin: 0;
    text-align: center;
}





.btn-view {
    margin-left: 260px;
    padding-bottom: 5px;
    margin: 10px;
}



.bon_apetite{
    margin-top: 240px;
}





/*-------------------------------------ADD RECIPES */




.add_recipe_content{
    margin-bottom: 50px;
    background-color: #F8F9FA;
}


.add_recipe_form{
    margin-bottom: 100px;
    padding-left: 50px;
    height: auto;
    font-size: 16rem;
    line-height: 1.5;
}


div.add_recipe_cancel_btn{
   margin-top: 35px;
   margin-bottom: 40px;
}


.add_recipe_btn{
    margin-top: 10px;
    
}



.recipe_content_wrapper{
    margin-top: 100px;
}

.recipe_details{
    margin-top: 40px;
    background-color: white !important;
}

.recipe_name{
    margin: 10px;
    background-color: white;
}


/* TABLES   */

table {
  margin-top: 20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

td, th {
  padding: 8px;
  text-align: center;
}




.align-center{
    text-align: center;
}

.align-left{
    text-align:  left;
}



/*-------------------------------------MY RECIPES */



.btn-my_recipes{
    margin-top: 100px;
    margin-left: 20px;
    
}



.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0.5em;
}

.recipe_header {
    margin-top: 5px;
}






@media (max-width: 576px) {

div.add_recipe_cancel_btn{
   
   margin-top: 20px;
   margin-bottom: 10px;
}




.add_recipe_btn{
    margin-top: 10px;
    
}

.brand-logo {
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left: 0;
    padding: 0;
    width: 120px;
    height: 120px;
}

  
  .nav-tabs {
    margin-left: 120px;
    height: 60px;
    font-size: 1.6rem;
    line-height: 1.5;
}

.nav-link {
    font-size: 1.6rem;
    line-height: 1.5;
    text-decoration: none;
    color: #5A6466;
    margin-top: 60px;
    border: 1px solid #5A6466;
}

div.container.header_main_page {
    margin-left: 0;
    margin-right: 0;
}

.button-collapse{
    font-size: 25px;
}

div.add_recipe_cancel_btn{
   margin:  0 auto;
}


.add_recipe_btn{
    margin-top: 25px;
    
}


}

@media (max-width: 768px) {
    .brand-logo {
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left: 0;
    padding: 0;
    width: 120px;
    height: 120px;
}

div.container.header_main_page {
    margin-left: 0;
    margin-right: 0;
}


.button-collapse{
    font-size: 25px;
}


.bon_apetite{
    margin-top: 110px;
    float: right;
}




.add_recipe_btn{
    margin-top: 25px;
    
}

.dot_avatar{
    margin-top: 35px;
    
    height: 8rem;
}

.dot_avatar > img {
    width: 100%;
    height: 100%;
}

  
}


