@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed|Tulpen+One');


/* -------------------------END OF CSS RESET ------------*/



/* ---------MY STYLES ---------*/

/*-------------------------------------BASE HTML */
* {
  box-sizing: border-box;
}

html,
body
{
    margin: 0 !important;
    padding: 0 !important;
    width: 100vw;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    background-color:  #F8F9FA !important;
    font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

nav.navbar{
    padding: 0;
    margin: 0;
    border: none;
}


.card_body,
section.recipe_content_wrapper ,
.btn-group,
.btn-view{
    background-color:  white !important;
}


div.nav-wrapper,
.nav-tabs-wrapper{
    margin: 0;
    padding: 0;
    background-color: #F8F9FA !important ;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  padding-bottom: 0.5em;
  margin-bottom: 0.5rem;
}

h1{
  font-size: 3.5em;
  margin: 0;
}


p {
    
    margin-top: 0;
    text-align: justify;
    background-color: white !important;
    font-size: 1.2em;
    line-height: 1.5;
}


input {
    margin: 0 !important;
    font-size: 1.6em;
    line-height: 1.5;
}


div.container-fluid{
    margin: 0;
    padding: 0;
}




div.nav-wrapper {
    border-top-color: white;
    margin: 0;
    padding: 0;
    height: 100px;
}




.nav-tabs {
    margin-left: 145px;
    height: 60px;
    font-size: 1.4rem;
    line-height: 1.5;
}

.nav-link {
    font-size: 1.4rem;
    line-height: 1.5;
    text-decoration: none;
    color: #5A6466;
    margin-top: 60px;
    border: 1px solid #5A6466;
}



.p_user{
    color: #5A6466;
    text-shadow: 1px 1px 1px solid black;
    margin-top: 61px;
    margin-left: 220px;
    padding-top: 10px;
    display: block;
}



.brand-logo {
    border: 1px solid grey;
    margin-top: 40px;
    margin-left: 1em;
    padding: 0;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.brand-logo > img {
    border-radius: 50%;
    text-decoration: none;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.brand-logo:hover {
    color:  white;
    text-decoration: none;
}

.content {
    height: 410px;
}

footer {
    width: 100%;
    margin-top: 40px;
    padding: 0;
    height: 80px;
    border-top: 1px solid grey;
}

footer > h5 {
    text-align: center;
    padding: 12px;
}


/*-------------------------------------LOGIN PAGE */


div.introduction_message{
    margin-top: 20px;
    height: 250px;
    line-height: 1.5rem;
    padding: 1em;
    color: black;
    text-shadow: 2px 2px 2px white;
}

div.introduction_message_header{
    margin-top: 1em;
    color: black;
    font-weight: 120;
    text-shadow: 2px 2px 2px white;
    text-align: center;
}

div.log_in_box{
    width: 250px;
    margin: 0 auto;
    background-color: white;
    height: 340px;
    box-shadow: 1px 1px 1px black;
    color: black;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.log_in_box > form {
    padding: 1rem;
}

.log_in_box > form > label {
    padding: 1rem;
    line-height: 1.375em;
    font-size: 1em;
}

.log_in_box > h2 {
    color: #5a6466;
    text-shadow:  1px 1px 1px black;
    font-size: 2em;
    line-height: 1.375em;
    text-align: center;
    padding: 10px;
    margin-top: 2.5rem;
}

.log_in_button{
    padding: 1rem;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    color:  #DCE2EA;
    text-shadow: 1px 1px 1px solid white;
    background-color:  green;
    text-align: center;
}



.log_in_box > form > input{
    font-size: 1em;
    line-height: 1.5;
    width: 100%;
    padding: 0.3rem;
    margin-bottom: 1rem;
    
}



/*-------------------------------------MAIN PAGE */

a.button-collapse{
    font-size: 24px;
    color: black;
}
.header_main_page{
    word-wrap: break-word;
    min-height: 75px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-top: 110px;
}



/*-------------------------------------RECIPES */

.recipes{
    background-color: #F8F9FA;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-bottom: 50px;
    
}

.card-wrapper{
    padding-top: 25px;
}


.recipe_photo {
 height: 450px;
 width: 100%;
 background: url('http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder.png');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;  
}




.card-img-top {
    background-color: rgba(0,0,0,0.2);
    margin: 0;
    height: 250px;
    width: 100%;
    display: block;
}

.recipe_view_img{
    margin-top: 120px;
    margin-bottom: 100px;
    height: 450px;
    width: 100%;
}

.card-text {
    background-color:  white;
    word-wrap: break-word;
    margin-bottom: 1rem;
    height: 110px;
    padding:  2rem;
    text-shadow: 1px 1px solid white;
}

.card_header{
    background-color:  white;
    word-wrap: break-word;
    margin-bottom: 1rem;
    font-size: 1.375em;
    height: 40px;
    padding: 1rem;
    margin: 0;
    text-align: center;
}

.btn-view {
    margin-left: 260px;
    padding-bottom: 0.5em;
    padding-top:  0.5em;
    margin: 10px;
}



.bon_apetite{
    margin-top: 240px;
}


/*-------------------------------------ADD RECIPES */




.add_recipe_content{
    margin-bottom: 50px;
    background-color: #F8F9FA;
}


.add_recipe_form{
    margin-bottom: 100px;
    padding-left: 50px;
    height: auto;
    font-size: 1.2em;
    line-height: 1.3;
}


div.add_recipe_cancel_btn{
   margin-top: 35px;
   margin-bottom: 40px;
}


.add_recipe_btn{
    margin-top: 10px;
    
}



.recipe_content_wrapper{
    margin-top: 5em;
    padding-top: 5em;
    padding-right: 10em;
    padding-left: 10em;
    padding-bottom: 6em;
}

.recipe_details{
    background-color: white !important;
}

.recipe_name p{
    text-align: justify;
    padding: 2px;
    font-size: 1.2em;
    line-height: 1.3;
    background-color: white;
}


.recipe_name h1{
    background-color: white;
}

/* TABLES   */

table {
  margin-top: 20px;
  border: collapse;
  
  
}

td, th {
    padding: 0.5em 1em;
    width: 5rem;
    height: 2rem;
    border: 1px solid #ccc;
    text-align: center;
    }

th {
  background: lightblue;
  border-color: white;
}




.align-center{
    text-align: center;
}

.align-left{
    text-align:  left;
}



/*-------------------------------------MY RECIPES */



.btn-my_recipes{
    margin-top: 100px;
    margin-left: 20px;
    
}



.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0.5em;
}

.recipe_header {
    margin-top: 5px;
}






@media (max-width: 576px) {

div.add_recipe_cancel_btn{
   margin-top: 20px;
   margin-bottom: 10px;
}


.recipe_photo_screens_lg{
    display: none;
}

.recipe_view_img {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 0;
    height: 100%;
}

.add_recipe_btn{
    margin-top: 10px;
    
}

.brand-logo {
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left: 0;
    padding: 0;
    width: 120px;
    height: 120px;
}

  
.nav-tabs {
  margin-left: 120px;
  height: 60px;
  font-size: 1.6rem;
  line-height: 1.5;
}

.nav-link {
    font-size: 1.6rem;
    line-height: 1.5;
    text-decoration: none;
    color: #5A6466;
    margin-top: 60px;
    border: 1px solid #5A6466;
}

div.container.header_main_page {
    margin-left: 0;
    margin-right: 0;
}

.button-collapse{
    font-size: 25px;
}

div.add_recipe_cancel_btn{
   margin:  0 auto;
}


.add_recipe_btn{
    margin-top: 25px;
    
}

.recipe_name h1{
    margin-left: 0;
    padding-left: 0;
    
} 

.recipe_content_wrapper{
    margin-top: 150px;
}

div.recipe_photo_mobile {
   
    margin-bottom: 0.5em;
    margin-top:  0.5em;
    padding-top: 0;
    padding-bottom: 0 ;
}

.recipe_photo{
    display: inline;
}

}

@media (max-width: 768px) {

.brand-logo {
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left: 0;
    padding: 0;
    width: 120px;
    height: 120px;
}




.recipe_name h1{
    padding-bottom: 0.5em;
    padding-left: 0;
    margin-left: 0;
    margin: 0;
} 

div.container.header_main_page {
    margin-left: 0;
    margin-right: 0;
}


.button-collapse{
    font-size: 25px;
}


.bon_apetite{
    margin-top: 110px;
    float: right;
}

.recipe_view_img {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 0 !important;
    height: 100%;
}

.add_recipe_btn{
    margin-top: 25px;
    
}


.recipe_content_wrapper{
    margin-top: 150px;
}

.recipe_photo_screens_lg{
    display: none;
}

div.recipe_photo_mobile {
    padding-top: 0;
    padding-bottom: 0 !important;
    margin-bottom: 0.5em !important;
    margin-top: 0.5em;
}

.recipe_photo{
    display: inline;
}
  
}


@media (min-width: 768px) {
     
     .recipe_photo_mobile {
        display: none; 
     }
     
}