{% extends 'base.html' %} {% block content %}

<div class='container header_main_page'>
    <h3> Add your recipe {{user}} </h3>
</div>

<section class='container add_recipe_content'>
    <div class="row">
        <div class='col-md-6  add_recipe_form_wrapper'>
            <div class='col-md-3'></div>
                <form id="form" action='{{url_for("insert_recipe")}}'  method="POST"  class="add_recipe_form col-md-9">
                    <div class="row">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">poll</i>
                                <select id="category" name="recipe_category_name">
                                    <option value="" disabled selected>Choose Category</option>
                                      {% for cat in recipes_categories %}
                                      <option value="{{cat.recipe_category_name}}">{{cat.recipe_category_name}}</option>
                                      {% endfor %}
                                </select>
                                <label> Recipe Category</label></label>
                            </div>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">assignment</i>
                            <input id="recipe_name" name="recipe_name" type="text">
                            <label for="icon_prefix">Recipe Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">subject</i>
                            <textarea name="recipe_description" id="recipe_description" class="materialize-textarea"></textarea>
                            <label for="icon_telephone">Recipe Description</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">subject</i>
                            <textarea name="Ingriediens" id="Ingriediens" class="materialize-textarea validate"></textarea>
                            <label for="icon_telephone">Recipe Ingriediens</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10">
                            <i class="material-icons prefix">subject</i>
                            <textarea name="preparation" id="preparation" class="materialize-textarea"></textarea>
                            <label for="icon_telephone">Recipe preparation</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">subject</i>
                            <textarea name="nutrition_info" id="nutrition_info" class="materialize-textarea"></textarea>
                            <label for="icon_telephone">Nutrition Information</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">subject</i>
                            <textarea name="alergens" id="alergens" class="materialize-textarea"></textarea>
                            <label for="icon_telephone">Alergens</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">subject</i>
                            <textarea name="cousine" id="cousine" class="materialize-textarea"></textarea>
                            <label for="icon_telephone">Cousine</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">subject</i>
                            <textarea name="recipe_how_to_serve" id="recipe_how_to_serve" class="materialize-textarea"></textarea>
                            <label for="icon_telephone">How to serve</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">subject</i>
                            <textarea name="preparation_time" id="preparation_time" class="materialize-textarea"></textarea>
                            <label for="icon_telephone">Preparation time</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">subject</i>
                            <textarea name="uploaded_by" id="uploaded_by" class="materialize-textarea"></textarea>
                            <label for="icon_telephone">Uploaded by </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">subject</i>
                            <textarea name="picture_url" id="picture_url" class="materialize-textarea"></textarea>
                            <label for="icon_telephone">Add picture URL</label>
                        </div>
                    </div>
                </form>
        </div>
        
        
        
        <div class='col-md-6 add_recipe_photo_wrapper'>
            <div class='row'>
                <div class="add_recipe_photo col-md-12">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top add_recipe_img" data-src="" alt="" src="https://cdn.pixabay.com/photo/2016/12/26/17/28/food-1932466_960_720.jpg" data-holder-rendered="true">
                </div>
            </div>
            <div class='row'>
                <div class='col-md-4'></div>
                <button type="button" class="btn btn-sm btn-outline-secondary upload_photo_btn col-md-4">Upload photo</button>
                <div class='col-md-4'></div>
            </div>
            <div class='row'>
                <div class='col-md-1'></div>
                <button class="add_recipe_btn btn btn-sm btn-outline-secondary col-md-4" type="submit"  form="form">Add recipe</button>
                <div class='col-md-2'></div>
                <button type="button" onclick="window.location.href='{{ url_for('main_page') }}'" class="add_recipe_cancel_btn btn btn-sm btn-outline-secondary col-md-4">Cancel</button>
                <div class='col-md-1'></div>
            </div>
            </div>
        </div>
     
    </div>
</section>

<div class='col-xs-12 col-sm-12 col-md-12'>
<footer class='footer'>
   <p> Copyrights Mariusz Brozda &#169; </p>
</footer>
</div>
{% endblock %}