{% extends 'base.html' %} {% block content %}
 {% include "header.html" %}
<div class='container header_main_page'>
    <h3> Edit your recipe {{user}} </h3>
</div>

<section class='container add_recipe_content py-5 sm-light'>
    <div class="row">
        <div class='col-md-10  add_recipe_form_wrapper'>
            <div class='col-md-3'></div>
            <form id="form" action='{{url_for("update_recipe", recipe_id=recipe._id)}}'  method="POST"  class="add_recipe_form col-md-9">
                <div class="row">
                
<!----------------------------------------------------RECIPE CATEGORY-->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">poll</i>
                                <select id="recipe_category_name" name="recipe_category_name" >
                                    <option value="" disabled selected> <label> Recipe Category</label></option>
                                      {% for cat in recipes_categories %}
                                      <option value="{{cat.recipe_category_name}}" required>{{cat.recipe_category_name}}</option>
                                      {% endfor %}
                                </select>
                                
                            </div>
                        </div>
                        
                        
<!----------------------------------------------------RECIPE NAME -->
                        <div class="input-field col s12">
                            <i class="material-icons prefix">assignment</i>
                            <input id="recipe_name" name="recipe_name" type="text" value='{{recipe.recipe_name}}' maxlength="20">
                            <label for="icon_prefix">Recipe Name</label>
                        </div>
                    </div>
  
                 
<!----------------------------------------------------PREPARATION TIME-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">subject</i>
                            <textarea name="preparation_time" id="preparation_time" class="materialize-textarea" maxlength="20">{{recipe.preparation_time}}</textarea>
                            <label for="icon_telephone">Preparation time</label>
                        </div>
                    </div>
                    
                    
<!----------------------------------------------------COUSINE-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">subject</i>
                            <textarea name="cousine" id="cousine" class="materialize-textarea" maxlength="20">{{recipe.cousine}}</textarea>
                            <label for="icon_telephone">Cousine</label>
                        </div>
                    </div>
                    
<!----------------------------------------------------UPLOADED BY -->

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">subject</i>
                            <textarea name="uploaded_by" id="uploaded_by" class="materialize-textarea" maxlength="15">{{recipe.uploaded_by}}</textarea>
                            <label for="icon_telephone">Uploaded by </label>
                        </div>
                    </div>                   
<!----------------------------------------------------RECIPE DESCRIPTION-->

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">subject</i>
                            <textarea name="recipe_description" id="recipe_description" class="materialize-textarea" maxlength="160">{{recipe.recipe_description}}</textarea>
                            <label for="icon_telephone">Recipe Description</label>
                        </div>
                    </div>


<!----------------------------------------------------RECIPE PREPARATION-->
                    <div class="row">
                        <div class="input-field col s10">
                            <i class="material-icons prefix">subject</i>
                            <textarea name="preparation" id="preparation" class="materialize-textarea">{{recipe.preparation}}</textarea>
                            <label for="icon_telephone">Recipe preparation</label>
                        </div>
                    </div>
                    
<!----------------------------------------------------RECIPE INGRIEDIENS-->
                    
                    <div class="row">
                        <label for='icon_telephone' class=' col s12'>INGRIEDIENT NAME</label>
                        
                        <div class="col s8" >
                           <ul id='ingredients' name="ingredients[]">
                               {% for ingredient in recipe.ingredients %}
                                <li   class='ingredient addIngredient'>
                                    <input  id='ingredient' name='ingredient' value='{{ingredient}}' class='form-control' required>
                                </li>   
                                {% endfor %}
                            </ul> 
                        </div>
                        <div class=" col s8">
                            <button id="addIngredient" class='add_row_btn_add col s6'   type='button'  onclick='addIngrediens()'>ADD INGRIEDIENS</button>
                            <button class='add_row_brn_remove col s6' type='button' onclick='removeIngrediens()'>REMOVE INGRIEDIENS</button>
                        </div>
                    </div>
            
                  
<!----------------------------------------------------NUTRITION INFO -->
                    <div class="row">
                        <label for="icon_telephone" class=' col s12'>ADD NUTRITION INFO</label>
                        <div class=" col s8">
                            <ul id='nutrition_info' class='nutrition_info' name="nutrition_info[]">
                                {% for nutrition in recipe.nutrition_info %}
                                <li>
                                    <input  id='nutrition' name='nutrition' value='{{ nutrition}}' required>
                                </li>   
                                {% endfor %}
                            </ul>
                        </div>
                        <div class=" col s8">
                            <button id="addNutrition" class='add_row_btn_add col s6' type='button' form='nutrition_info' onclick='addNutritionInfo()'>ADD INFO</button>
                            <button class='add_row_brn_remove col s6' type='button' onclick='removeNutritionInfo()'>REMOVE INFO</button>
                        </div>
                    </div>

                   
<!----------------------------------------------------ALERENS-->
                    <div class="row">
                        <label for="icon_telephone" class=' col s12'>ALERENS</label>
                        <div class="col s8">
                            <ul id='alergens' class='alergens addAlergen' >
                                {% for alergen in recipe.alergens %}
                                <li>
                                    <input   value='{{alergen}}' id='alergen' name='alergen' required>     
                                </li>  
                                {% endfor %}
                            </ul>
                        </div>  
                        <div class="col s8">
                            <button id="addAlergen" class='add_row_btn_add col s6' type='button' form='alergens' onclick='addAlergens()'>ADD ALERGEN</button>
                            <button class='add_row_brn_remove col s6' type='button' onclick='removeAlergens()'>REMOVE ALERGEN</button>
                        </div>
                    </div>
 
                    
<!----------------------------------------------------HOW TO SERVE-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">subject</i>
                            <textarea name="recipe_how_to_serve" id="recipe_how_to_serve" class="materialize-textarea" maxlength="250">{{recipe.recipe_how_to_serve}}</textarea>
                            <label for="icon_telephone">How to serve</label>
                        </div>
                    </div>
                    

<!----------------------------------------------------ADD PICTURE-->

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">subject</i>
                            <textarea name="recipe_picture_url" id="recipe_picture_url" class="materialize-textarea">{{recipe.recipe_picture_url}}</textarea>
                            <label for="icon_telephone">Add picture URL</label>
                        </div>
                    </div>
            </form>
            
        
            
            
<!----------------------------------------------------ADD RECIPE  AND CANCEL BTN -->
                <div class='row'>
                    <div class='col s3'></div>
                    <button class="add_recipe_btn btn btn-sm btn-outline-secondary col s4" type="submit" value="submit" name='action' form="form">Update recipe</button>
                    <div class='col s1'></div>
                    <button type="button" onclick="window.history.go(-1)" class="add_recipe_btn btn btn-sm btn-outline-secondary col s4">Cancel</button>
                    <div class='col s3'></div>
                </div>
            </div>
        </div>
</section>
{% include "footer.html" %}
{% endblock %}
