{% extends 'base.html' %} {% block content %}
 {% include "header.html" %}
 
<!---------------------------------------------------HEADER EDIT RECIPE--> 
<div class='col-md-12 col-lg-12 col-sm-12 header_main_page'>
    <h3> Edit your recipe {{user}} </h3>
    <hr class="divider light my-4">
</div>


<!---------------------------------------------------CONTENT ADD RECIPE PAGE -->
<section class='container add_recipe_content py-5 sm-light'>
    <div class="row">
        <div class='col-md-10 col-lg-10 col-sm-10  add_recipe_form_wrapper'>
            <div class='col-md-3'></div>
            <form id="form" action='{{url_for("update_recipe", recipe_id=recipe._id)}}'  method="POST"  class="add_recipe_form col-md-9">
                <div class="row">
                
<!----------------------------------------------------RECIPE CATEGORY-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">poll</i>
                            <select id="recipe_category_name" name="recipe_category_name" >
                                <option value="" disabled selected> <label> Recipe Category</label></option>
                                  {% for cat in recipes_categories %}
                                  <option value="{{cat.recipe_category_name}}" required>{{cat.recipe_category_name}}</option>
                                  {% endfor %}
                            </select>
                            
                        </div>
                    </div>
                    
                    
<!---------------------------------------------------RECIPE NAME -->
                    <div class="input-field col s12">
                        <i class="material-icons prefix">assignment</i>
                        <input id="recipe_name" name="recipe_name" type="text" value='{{recipe.recipe_name}}' maxlength="20">
                        <label for="icon_prefix">Recipe Name</label>
                    </div>
                </div>
  
                 
<!----------------------------------------------------PREPARATION TIME-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">subject</i>
                        <textarea name="preparation_time" id="preparation_time" class="materialize-textarea" maxlength="20">{{recipe.preparation_time}}</textarea>
                        <label for="icon_telephone">Preparation time</label>
                    </div>
                </div>
                    
                    
<!----------------------------------------------------COUSINE-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">subject</i>
                        <textarea name="cousine" id="cousine" class="materialize-textarea" maxlength="20">{{recipe.cousine}}</textarea>
                        <label for="icon_telephone">Cousine</label>
                    </div>
                </div>
                
<!---------------------------------------------------UPLOADED BY -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">subject</i>
                        <textarea name="uploaded_by" id="uploaded_by" class="materialize-textarea" maxlength="15">{{recipe.uploaded_by}}</textarea>
                        <label for="icon_telephone">Uploaded by </label>
                    </div>
                </div>                   
<!---------------------------------------------------RECIPE DESCRIPTION-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">subject</i>
                        <textarea name="recipe_description" id="recipe_description" class="materialize-textarea" maxlength="160">{{recipe.recipe_description}}</textarea>
                        <label for="icon_telephone">Recipe Description</label>
                    </div>
                </div>
<!---------------------------------------------------RECIPE PREPARATION-->
                <div class="row">
                    <div class="input-field col s10">
                        <i class="material-icons prefix">subject</i>
                        <textarea name="preparation" id="preparation" class="materialize-textarea">{{recipe.preparation}}</textarea>
                        <label for="icon_telephone">Recipe preparation</label>
                    </div>
                </div>
                    
<!----------------------------------------------------RECIPE INGRIEDIENS-->
                    
                <div class="row">
                    <label for='icon_telephone' class=' col s12'>INGRIEDIENT NAME</label>
                    <div class="col s12 col m12 col l12" >
                        <table class='align-center' id='ingredients' name="ingredients[]">
                            <tr>
                                <th class='align-center'>Ingredients Name</th>
                                <th class='align-center'>Ingredients Ammount</th>
                            </tr>
                            <tr> 
                                <td>
                                    <input type="text" id="ingredient1" name="ingredient1" value='{{recipe.ingredients.ingredient1}}' >
                                </td>
                                <td><input type="text" id="ingredient1_ammount" name="ingredient1_ammount" value='{{recipe.ingredients.ingredient1_ammount}}'></td>
                            </tr>
                            <tr> 
                                <td><input type="text" id="ingredient2" name="ingredient2" value='{{recipe.ingredients.ingredient2}}' ></td>
                                <td><input type="text" id="ingredient2_ammount" name="ingredient2_ammount" value='{{recipe.ingredients.ingredient2_ammount}}' ></td>
                            </tr>
                            
                            <tr> 
                                <td><input type="text" id="ingredient3" name="ingredient3" value='{{recipe.ingredients.ingredient3}}' ></td>
                                <td><input type="text" id="ingredient3_ammount" name="ingredient3_ammount" value='{{recipe.ingredients.ingredient3_ammount}}' ></td>
                            </tr>
                            <tr> 
                                <td><input type="text" id="ingredient4" name="ingredient4" value='{{recipe.ingredients.ingredient4}}' ></td>
                                <td><input type="text" id="ingredient4_ammount" name="ingredient4_ammount" value='{{recipe.ingredients.ingredient4_ammount}}' ></td>
                            </tr>
                            <tr> 
                                <td><input type="text" id="ingredient5" name="ingredient5" value='{{recipe.ingredients.ingredient5}}' ></td>
                                <td><input type="text" id="ingredient5_ammount" name="ingredient5_ammount" value='{{recipe.ingredients.ingredient5_ammount}}' ></td>
                            </tr>
                            <tr> 
                                <td><input type="text" id="ingredient6" name="ingredient6" value='{{recipe.ingredients.ingredient6}}' ></td>
                                <td><input type="text" id="ingredient6_ammount" name="ingredient6_ammount" value='{{recipe.ingredients.ingredient6_ammount}}' ></td>
                            </tr>
                            <tr> 
                                <td><input type="text" id="ingredient7" name="ingredient7" value='{{recipe.ingredients.ingredient7}}' ></td>
                                <td><input type="text" id="ingredient7_ammount" name="ingredient7_ammount" value='{{recipe.ingredients.ingredient7_ammount}}' ></td>
                            </tr>
                            <tr> 
                                <td><input type="text" id="ingredient8" name="ingredient8" value='{{recipe.ingredients.ingredient8}}' ></td>
                                <td><input type="text" id="ingredient8_ammount" name="ingredient8_ammount" value='{{recipe.ingredients.ingredient8_ammount}}' ></td>
                            </tr>
                            <tr> 
                                <td><input type="text" id="ingredient9" name="ingredient9" value='{{recipe.ingredients.ingredient9}}' ></td>
                                <td><input type="text" id="ingredient9_ammount" name="ingredient9_ammount" value='{{recipe.ingredients.ingredient9_ammount}}' ></td>
                            </tr>
                            <tr> 
                                <td><input type="text" id="ingredient10" name="ingredient10" value='{{recipe.ingredients.ingredient10}}' ></td>
                                <td><input type="text" id="ingredient10_ammount" name="ingredient10_ammount" value='{{recipe.ingredients.ingredient10_ammount}}' ></td>
                            </tr>
                        </table>
                    </div>
                </div>
        
                 
<!---------------------------------------------------NUTRITION INFO -->
                <div class="row">
                    <label for="icon_telephone" class=' col s12'>ADD NUTRITION INFO</label>
                    <div class="col s12 col m12 col l12" >
                        <table class='align-center' id='nutrition_info' name="nutrition_info">
                            <tr>
                                <th class='align-center'>NUTRITION NAME</th>
                                <th class='align-center'>NUTRITION  AMMOUNT</th>
                            </tr>
                            <tr> 
                                <td><input  id="nutrition1" name="nutrition1" value='{{recipe.nutrition_info.nutrition1}}' ></td>
                                <td><input  id="nutrition1_ammount" name="nutrition1_ammount" value='{{recipe.nutrition_info.nutrition1_ammount}}' ></td>
                            </tr>
                            <tr> 
                                <td><input  id="nutrition2" name="nutrition2" value='{{recipe.nutrition_info.nutrition2}}' ></td>
                                <td><input  id="nutrition2_ammount" name="nutrition2_ammount" value='{{recipe.nutrition_info.nutrition2_ammount}}' ></td>
                            </tr>
                            <tr> 
                                <td><input  id="nutrition3" name="nutrition3" value='{{recipe.nutrition_info.nutrition3}}' ></td>
                                <td><input  id="nutrition3_ammount" name="nutrition3_ammount" value='{{recipe.nutrition_info.nutrition3_ammount}}' ></td>
                            </tr>
                            <tr> 
                                <td><input  id="nutrition4" name="nutrition4" value='{{recipe.nutrition_info.nutrition4}}' ></td>
                                <td><input  id="nutrition4_ammount" name="nutrition4_ammount" value='{{recipe.nutrition_info.nutrition4_ammount}}' ></td>
                            </tr>
                            <tr> 
                                <td><input  id="nutrition5" name="nutrition1" value='{{recipe.nutrition_info.nutrition5}}' ></td>
                                <td><input  id="nutrition5_ammount" name="nutrition5_ammount" value='{{recipe.nutrition_info.nutrition5_ammount}}' ></td>
                            </tr>
                            <tr> 
                                <td><input  id="nutrition6" name="nutrition6" value='{{recipe.nutrition_info.nutrition6}}' ></td>
                                <td><input  id="nutrition6_ammount" name="nutrition6_ammount" value='{{recipe.nutrition_info.nutrition6_ammount}}' ></td>
                            </tr>
                            <tr> 
                                <td><input  id="nutrition7" name="nutrition7" value='{{recipe.nutrition_info.nutrition7}}' ></td>
                                <td><input  id="nutrition7_ammount" name="nutrition7_ammount" value='{{recipe.nutrition_info.nutrition7_ammount}}' ></td>
                            </tr>
                            <tr> 
                                <td><input  id="nutrition8" name="nutrition8" value='{{recipe.nutrition_info.nutrition8}}' ></td>
                                <td><input  id="nutrition8_ammount" name="nutrition8_ammount" value='{{recipe.nutrition_info.nutrition8_ammount}}' ></td>
                            </tr>
                            <tr> 
                                <td><input  id="nutrition9" name="nutrition9" value='{{recipe.nutrition_info.nutrition9}}' ></td>
                                <td><input  id="nutrition9_ammount" name="nutrition9_ammount" value='{{recipe.nutrition_info.nutritiont9_ammount}}' ></td>
                            </tr>
                            <tr> 
                                <td><input  id="nutrition10" name="nutrition10" value='{{recipe.nutrition_info.nutrition10}}' ></td>
                                <td><input  id="nutrition10_ammount" name="nutrition10_ammount" value='{{recipe.nutrition_info.nutrition10_ammount}}' ></td>
                            </tr>
                        </table>
                    </div>
                </div>

                   
<!----------------------------------------------------ALERENS-->
                <div class="row">
                    <label for="icon_telephone" class=' col s12'>ALERENS</label>
                    <div class="col s12 col m12 col l12" >
                        <table class='align-center' id='alergens' name="alergens">
                            <tr>
                                <th class='align-center'>ALEREN NAME</th>
                            </tr>
                            <tr> 
                                <td><input  id="alergen1" name="alergen1" value='{{recipe.alergens.alergen1}}' ></td>
                            </tr>
                            <tr> 
                                <td><input  id="alergen2" name="alergen2" value='{{recipe.alergens.alergen2}}' ></td>
                            </tr>
                            <tr> 
                                <td><input  id="alergen3" name="alergen3" value='{{recipe.alergens.alergen3}}' ></td>
                            </tr>
                            <tr> 
                                <td><input  id="alergen4" name="alergen4" value='{{recipe.alergens.alergen4}}' ></td>
                            </tr>
                            <tr> 
                                <td><input  id="alergen5" name="alergen5" value='{{recipe.alergens.alergen5}}' ></td>
                            </tr>
                            <tr> 
                                <td><input  id="alergen6" name="alergen6" value='{{recipe.alergens.alergen6}}' ></td>
                            </tr>
                            <tr> 
                                <td><input  id="alergen7" name="alergen7" value='{{recipe.alergens.alergen7}}' ></td>
                            </tr>
                            <tr> 
                                <td><input  id="alergen8" name="alergen8" value='{{recipe.alergens.alergen8}}' ></td>
                            </tr>
                            <tr> 
                                <td><input  id="alergen9" name="alergen9" value='{{recipe.alergens.alergen9}}' ></td>
                            </tr>
                            <tr> 
                                <td><input  id="alergen10" name="alergen10" value='{{recipe.alergens.alergen10}}' ></td>
                            </tr>
                        </table>
                    </div> 
                </div>
 
                    
<!----------------------------------------------------HOW TO SERVE-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">subject</i>
                        <textarea name="recipe_how_to_serve" id="recipe_how_to_serve" class="materialize-textarea" maxlength="250">{{recipe.recipe_how_to_serve}}</textarea>
                        <label for="icon_telephone">How to serve</label>
                    </div>
                </div>
                
<!---------------------------------------------------ADD PICTURE-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">subject</i>
                        <textarea name="recipe_picture_url" id="recipe_picture_url" class="materialize-textarea">{{recipe.recipe_picture_url}}</textarea>
                        <label for="icon_telephone">Add picture URL</label>
                    </div>
                </div>
            </form>
            
<!----------------------------------------------------ADD RECIPE  AND CANCEL BTN -->
            <div class='row'>
                <div class='col s3'></div>
                <button class="add_recipe_btn btn btn-sm btn-outline-secondary col s4" type="submit" value="submit" name='action' form="form">Update recipe</button>
                <div class='col s1'></div>
                <button type="button" onclick="window.history.go(-1)" class="add_recipe_btn btn btn-sm btn-outline-secondary col s4">Cancel</button>
                <div class='col s3'></div>
            </div>
        </div>
    </div>
</section>
{% include "footer.html" %}
{% endblock %}
