
    <header>
    <nav>
        <div  class="nav-wrapper">
            <div>
               <img class='brand-logo' src='/static/img/vegan_dot_logo.jpg'>
            </div>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="side-nav" id="mobile-demo">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main_page') }}">Home</a>
                </li>
                <li class="nav-item-hamburger">
                    <a class="nav-link-hamburger" href="{{ url_for('starters') }}">Starters</a>
                </li>
                <li class="nav-item-hamburger">
                    <a class="nav-link-hamburger" href="{{ url_for('main_courses') }}">Main courses</a>
                </li>
                <li class="nav-item-hamburger">
                    <a class="nav-link-hamburger" href="{{ url_for('desers') }}">Desers</a>
                </li>
                <li class="nav-item-hamburger">
                    <a class="nav-link-hamburger" href="{{ url_for('smoothies') }}">Smoothies</a>
                </li>
                <li class="nav-item-hamburger">
                    <a class="nav-link-hamburger" href="{{ url_for('juices') }}">Juices</a>
                </li>
                <li class="nav-item-user">
                    <a class="nav-link-user"> {{user}}</a>
                </li>
                <li class="nav-item user">
                    <a class="nav-link" href="{{ url_for('add_recipe') }}">Upload recipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('my_recipes') }}">My recipes</a>
                </li>
                <li class="nav-item-user_logout">
                    <a class="nav-link_logout" href="{{ url_for('log_in') }}">Log out</a>
                </li>
            </ul> 
        </div>
    </nav>
 </header>
    <section class='nav-tabs-wrapper'>
    <ul  id="nav-mobile" class="nav nav-tabs hide-on-med-and-down">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main_page') }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('starters') }}">Starters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main_courses') }}">Main courses</a>
        </li>
        <li class="nav-item-hamburger">
            <a class="nav-link" href="{{ url_for('desers') }}">Desers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('smoothies') }}">Smoothies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('juices') }}">Juices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link p_user" > {{user}}</a>
        </li>
        <li class="nav-item user">
            <a class="nav-link" href="{{ url_for('add_recipe') }}">Upload recipe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('my_recipes') }}">My recipes</a>
        </li>
        <li class="nav-item user_logout">
            <a class="nav-link logout" href="{{ url_for('log_in') }}">Log out</a>
        </li>
    </ul>
</section>
