{% extends 'base.html'%} {% block content %}



<!------------------------------------------- USER LOGIN  -->

    <div class='row'>
        <div class=' col-sm-2'></div>
        <div class='log_in_box form-group container'>
            <h2> LOGIN </h2>
            <form action='main_page.html' method="POST">
                <label for="">Username </label>
                <input class='login_input' id='user' type="text" name="user"/>
                <button class='log_in_button mb-2' type="submit" href=""> LOG IN !</button><br>
                <button class='fb_button mb-2'> LOG IN USING FACEBOOK</button><br>
            </form>
        </div>
        <div class=' col-sm-2'></div>
    </div>
</section>  
            



        


{% endblock %}