{% extends 'base.html'%} {% block content %}
 {% include "header.html" %}

<div class='col 12 header_main_page'>
    <h3> JUICES</h3>
    <hr class="divider light my-4">
</div>
<div class='container recipes py-5 sm-light '>
    <div class="row">
        {% for recipe in juices_recipes %}
        <div class="card-wrapper col-md-4 col-lg-4 col-sm-4">
            <div class="card mb-4 box-shadow">
                <div class='card_header'>
                    {{recipe.recipe_name}}
                </div>
                <img class="card-img-top" data-src="https://hitcounter.pythonanywhere.com/count/tag.svg" alt="" src="{{recipe.recipe_picture_url}}" data-holder-rendered="true">
                <div class="card-body">
                    <h4 class="card-text">{{recipe.recipe_description}}</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group btn-view">
                            <button type="button" onclick="window.location.href='{{ url_for('recipe' , recipe_id=recipe._id) }}'" class="btn btn-sm btn-outline-secondary">View</button>
                            <img class='recipe_views box-shadow' src="https://hitcounter.pythonanywhere.com/count/tag.svg?url=https%3A%2F%2Fgithub.com%2Fbrentvollebregt%2Fhit-counter" alt="Hits">
                        </div>
                    </div>
                </div>
            </div>
        </div>
       {% endfor %}
    </div> 
</div>


{% include "footer.html" %}
{% endblock %}

