{% extends 'base.html'%} {% block content %}
      
<!------------------------------------------- USER LOGIN  -->

<section>
    <div class='row '>
        <div class='col s2 col m4 col l4'></div>
        <div class='introduction_message_header col s8 col m4 col l4'>
            <h1> Vegan Dot Recipes !</h1>
            <h3 class='introduction_message'> Hey there ! Welcome on my website, where you can find ideas and share ideas about vegan dishes!!
            </h3>
        </div>   
        <div class='col s2 col m4 col l4'></div>
    </div>
    
    <div class='row'>
        <div class=' col-sm-5 col-md-4 col-lg-4'></div>
        <div class='log_in_box form-group container'>
            <h2> LOGIN </h2>
            <form  method="POST">
                <label for="">Username </label><br>
                <input class='login_input' id='username' type="name" name="username" maxlength="15"/>
                <button class='log_in_button mb-2' type="submit" id='login-btn' name='login' > LOG IN !</button><br>
            </form>
        </div>
        <div class=' col-sm-5 col-md-4 col-lg-4'></div>
    </div>
</section>  

{% endblock %}