{% extends 'base.html'%} {% block content %}
 {% include "header.html" %}

<div class='container header_main_page'>
    <h3> MAIN COURSES</h3>
</div>
<div class='container recipes py-5 sm-light '>
    <div class="row">
        {% for recipe in main_courses_recipes %}
        <div class="card-wrapper col-md-4">
            <div class="card mb-4 box-shadow">
                <div class='card_header'>
                    {{recipe.recipe_name}}
                </div>
                <img class="card-img-top" data-src="" alt="" src="{{recipe.recipe_picture_url}}" data-holder-rendered="true">
                <div class="card-body">
                    <h4 class="card-text">{{recipe.recipe_description}}</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group btn-view">
                            <button type="button" onclick="window.location.href='{{ url_for('recipe' , recipe_id=recipe._id) }}'" class="btn btn-sm btn-outline-secondary">View</button>
                            <img class='recipe_views box-shadow' src="https://hitcounter.pythonanywhere.com/count/tag.svg?url=https%3A%2F%2Fgithub.com%2Fbrentvollebregt%2Fhit-counter" alt="Hits">
                        </div>
                    </div>
                </div>
            </div>
        </div>
       {% endfor %}
    </div> 
    <div class='row'>
        <div class='col-md-3'> </div>
        <nav aria-label="" class='col-md-6 pagination'>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
        <div class='col-md-3'> </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}

