{% extends 'base.html'%} {% block content %}
{% block user_logout %}

{% endblock %}

<div class='container header_main_page'>
    <h3> All recipes</h3>
</div>
<div class='container recipes py-5 sm-light '>
    <div class="row">
        <div class="card-wrapper col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="" alt="" src="https://cdn.pixabay.com/photo/2016/12/26/17/28/food-1932466_960_720.jpg" data-holder-rendered="true">
                <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group btn-view">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card-wrapper col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="" alt="" src="https://cdn.pixabay.com/photo/2016/12/26/17/28/food-1932466_960_720.jpg" data-holder-rendered="true">
                <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group btn-view">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card-wrapper col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="" alt="" src="https://cdn.pixabay.com/photo/2016/12/26/17/28/food-1932466_960_720.jpg" data-holder-rendered="true">
                <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group btn-view">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-wrapper col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="" alt="" src="https://cdn.pixabay.com/photo/2016/12/26/17/28/food-1932466_960_720.jpg" data-holder-rendered="true">
                <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group btn-view">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card-wrapper col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="" alt="" src="https://cdn.pixabay.com/photo/2016/12/26/17/28/food-1932466_960_720.jpg" data-holder-rendered="true">
                <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group btn-view">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <button type="button" class="btn-upload_recipe btn btn-sm btn-outline-secondary">Upload Recipe !</button>
    <button type="button" class="btn-my_recipes btn btn-sm btn-outline-secondary">My recipes!</button>
    <div class='row'>
        <div class='col-md-3'> </div>
        <nav aria-label="" class='col-md-6 pagination'>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
        <div class='col-md-3'> </div>
        </div>
    </div>
</div>





<div class='col-xs-12 col-sm-12 col-md-12'>
<footer class='footer'>
   <p> Copyrights Mariusz Brozda &#169; </p>
</footer>
</div>

{% endblock %}

