{% extends 'base.html' %} {% block content %}
{% include "header.html" %}


<section class='container recipe_content_wrapper'>
    
    <div class="row">
        <div class='col-md-5 recipe_details'>
            <div class='recipe_name col-md-5'>
                <div class='row'>
                     <h3 class='col-md-12'>{{recipe.recipe_name}}</h3>
                </div>
                <div>
                    <p> Category : {{recipe.recipe_category_name}}</p>
                </div>
                <div>
                    <p> Cousine : {{recipe.cousine}}</p>
                </div>
                <div>
                    <p> Preparation time : {{recipe.preparation_time}}</p>
                </div>
                <div>
                    <p> Views : {{views}}</p>
                </div>
                <div>
                    <p> Uploaded by : {{recipe.uploaded_by}}</p>
                </div>
            </div>
            
            <div class='row'>
                <div class='recipe_description col-md-12'>
                    <h3><span class="label label-default">Recipe Description</span></h3>
                    <p class='descripton_p'>{{recipe.recipe_description}} </p>
                </div>
            </div>    
            <div class='row'>
                <div class='recipe_ingredients col-md-12'>
                    <h3><span class="label label-default">Ingredients</span></h3>
                    <div class="row recipe_ingredients">
                        <div class="input-field recipe_ingredients col s12">
                            
                            <div class="input-field col s8" id='ingredients'>
                                <ul>
                                {% for ingredient in recipe.ingredients %}
                                    <li>
                                        {{ingredient}}
                                    </li>  
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <div class='row'>
                <div class='recipe_preparation col-md-12'>
                    <h3><span class="label label-default">Recipe preparation</span></h3>
                    <p class='descripton_p'>
                    {{recipe.preparation}}
                    </p>
                </div>
            </div>    
            <div class='row'>
                <div class='recipe_how_to_serve col-md-12'>
                    <h3><span class="label label-default">How to serve</span></h3>
                    <p class='descripton_p'> {{recipe.recipe_how_to_serve}}</p>
                </div>
            </div>
        </div>
        <div class='col-md-7 add_recipe_photo_wrapper'>
            <div class='row'>
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top recipe_view_img" data-src="" alt="" src="{{recipe.recipe_picture_url}}" data-holder-rendered="true">
                </div>
            </div>
            
    <!-- NUTRITION--->
            <div class='row'>
                <div class='recipe_ingredients col-md-6'>
                    <h3><span class="label center label-default">NUTRITION INFO</span></h3>
                    <div class="row recipe_ingredients">
                        <div class="input-field recipe_ingredients col s12">
                            
                            <div class="input-field col s12" id='nutrition_info'>
                               <ul>
                                    {% for nutrition in recipe.nutrition_info %}
                                    <li>
                                        {{nutrition}}
                                    </li>   
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
               
    <!-- END NUTRITION--->
        
    <!-- ALERGENS--->
    
                <div class='recipe_ingredients col-md-6'>
                    <h3><span class="label center label-default">ALERGENS</span></h3>
                    <div class="row recipe_ingredients">
                        <div class="input-field recipe_ingredients col s12">
                            
                            <div class="input-field col s12" id='alergens'>
                                <ul>
                                {% for alergen in recipe.alergens %}
                                    <li>
                                        {{alergen}}
                                    </li>  
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
    
    <!-- END ALERGENS--->
            
            <div class='row bon_apetite'>
                <div class='col-md-6'></div>
                <h3 class='col-md-5'> Bon Apetite !</h3>
                <div class='col-md-1'></div>
            </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-5'></div>
            <button type="button" onclick="window.history.go(-1)" class="add_recipe_cancel_btn btn btn-sm btn-outline-secondary col-md-2">Back !</button>
        <div class='col-md-5'></div>
    </div>
</section>


{% include "footer.html" %}
{% endblock %}


